<div th:fragment="card (interaction)">
  <h3>
    <span th:text="${interaction.interactor.getFullName()}"> </span>

    <span th:if="${interaction.receiverInteractor}">
      ->
      <span th:text="${interaction.receiverInteractor.getFullName()}"></span>
    </span>
  </h3>
  <p th:text="${interaction.getFirstParagraph()}"></p>
  <p th:if="${#arrays.length(interaction.getParagraphs()) > 1}">...</p>
  <div th:each="medium : ${interaction.media}">
    <img
      th:if="${medium.isInCDN()}"
      th:src="@{/media/thumbnail/256/{id}(id=${medium.id})}"
    />
    <a
      th:unless="${medium.isInCDN()}"
      th:with="info=${@linkInformationService.getLinkInfo(medium.id)}"
      th:href="${#strings.defaultString(info.actualLink, medium.reference)}"
    >
      <span th:text="${#strings.defaultString(info.title, medium.reference)}">
      </span>
      <span th:text="${info.getPage()}"></span>
      <img th:src="@{/media/thumbnail/256/{id}(id=${medium.id})}" />
    </a>
  </div>

  <p th:text="${interaction.class.name}"></p>
  <p><span th:text="${interaction.comments.size()}"></span> comments</p>
</div>

<div th:fragment="create (canPagePost, additional)">
  <textarea th:field="*{content}"></textarea>
  <div th:replace="common/form :: field (label='URL', name='url')"></div>
  <span th:replace="${additional}"></span>
  <select th:field="*{postAs}" th:if="${canPagePost}">
    <option
      th:each="interactor : ${interactors}"
      th:value="${interactor.id}"
      th:text="${interactor.getFullName()}"
    >
      Visible name
    </option>
  </select>
  <div
    th:unless="${canPagePost}"
    th:replace="common/form :: field (label='', name='postAs', type='hidden')"
  ></div>
</div>
