<h3>
  <span th:text="${interaction.interactor.getFullName()}"> </span>
  <span th:if="${interaction.receiverInteractor}">
    ->
    <span th:text="${interaction.receiverInteractor.getFullName()}"></span>
  </span>
</h3>
<img th:if="${groupPfp}" th:src="${groupPfp}" />
<form
  th:unless="${groupPfp == null}"
  th:if="${joinRequest == null || joinRequest.ignoredAt != null}"
  th:action="@{/confirmable/group/{id}/join(id=${interaction.id})}"
  method="post"
>
  <button type="submit">Join</button>
</form>
<div th:if="${joinRequest}" th:object="${joinRequest}">
  <span
    th:if="*{interactor.id} == ${#authentication.principal.person.id}"
    th:unless="*{confirmedAt} != null"
  >
    Pending
  </span>
  <div
    th:if="*{receiverInteractor.id} == ${#authentication.principal.person.id}"
    th:include="common/confirmable :: decision (confirmable=${joinRequest})"
  ></div>
</div>
<div
  th:if="${@interactionService.isInteractionDeletableByPerson(interaction.id, #authentication.principal.person.id)}"
>
  <form
    th:action="@{/interaction/{id}/delete(id=${interaction.id})}"
    method="post"
  >
    <button type="submit">Delete</button>
  </form>
</div>
<div>
  <p th:each="p : ${interaction.getParagraphs()}" th:text="${p}"></p>
</div>
<img
  th:each="medium : ${interaction.media}"
  th:src="@{/media/thumbnail/512/{id}(id=${medium.id})}"
/>
<p th:text="${@relativeTimeService.getRelativeTime(interaction.createdAt)}"></p>
<form
  th:action="@{/interaction/{id}/comment(id=${interaction.id})}"
  th:object="${newComment}"
  method="post"
  enctype="multipart/form-data"
>
  <h6>New comment:</h6>
  <div
    th:include="common/interaction :: create(canPagePost=${interactors.size() > 1}, additional=~{:: input[@type='file']})"
  >
    <input type="file" th:field="*{file}" accept="image/png, image/jpeg" />
  </div>
  <button type="submit">Send</button>
</form>
<h3>Comments</h3>
<div th:each="comment : ${comments}">
  <h4 th:text="${comment.interactor.getFullName()}"></h4>
  <p th:text="${comment.content}"></p>
  <img
    th:each="medium : ${comment.media}"
    th:src="@{/media/thumbnail/256/{id}(id=${medium.id})}"
  />
</div>
