<h1 th:text="${group.name}"></h1>
<p>Created by: <span th:text="${group.interactor.getFullName()}"></span></p>
<p th:text="${group.class.name}"></p>

<h3>Pending</h3>
<ul>
  <li
    th:each="interaction : ${cInteractions}"
    th:if="${interaction.confirmedAt == null}"
    th:object="${interaction}"
  >
    <span th:if="*{interactor.id} == ${group.interactor.id}">
      <span th:text="*{receiverInteractor.getFullName()}"></span>
      Pending
    </span>
    <span th:if="*{receiverInteractor.id} == ${group.interactor.id}">
      <span th:text="*{interactor.getFullName()}"></span>
      <span
        th:include="common/confirmable :: decision (confirmable=${interaction})"
      ></span>
    </span>
    <span th:text="${group.interactor.id}"></span>
  </li>
</ul>

<h3>Members</h3>
<ul>
  <li
    th:each="interaction : ${cInteractions}"
    th:unless="${interaction.confirmedAt == null}"
    th:object="${interaction}"
  >
    <span
      th:unless="*{interactor.id} == ${group.interactor.id}"
      th:text="*{interactor.getFullName()}"
    >
    </span>
    <span
      th:unless="*{receiverInteractor.id} == ${group.interactor.id}"
      th:text="*{receiverInteractor.getFullName()}"
    >
    </span>
    <span th:text="*{id}"></span>
    <form th:action="@{/interaction/{id}/delete(id=*{id})}" method="post">
      <button type="submit">Delete</button>
    </form>
  </li>
</ul>

<form
  th:object="${form}"
  th:action="${form.class.name == 'io.github.jmmedina00.adoolting.dto.group.NewEvent'} ? @{/event/{id}(id=${group.id})} : @{/group/{id}(id=${group.id})}"
  th:method="post"
>
  <div th:replace="common/form :: field (label='Name', name='name')"></div>
  <div
    th:replace="common/form :: bigfield (label='Description', name='description')"
  ></div>
  <div
    th:include="common/form :: common (label='Access level', name='accessLevel', input=~{:: .accessLevel})"
  >
    <select th:field="*{accessLevel}" class="accessLevel">
      <option th:value="'OPEN'">Open</option>
      <option th:value="'WATCH_ONLY'">Watch only</option>
      <option th:value="'CLOSED'">Closed</option>
    </select>
  </div>
  <div
    th:if="${form.class.name == 'io.github.jmmedina00.adoolting.dto.group.NewEvent'}"
  >
    <div
      th:replace="common/form :: field (label='Location', name='location')"
    ></div>
    <div
      th:replace="common/form :: field (label='Date', name='date', type='date')"
    ></div>
    <div
      th:replace="common/form :: field (label='Time', name='time', type='time')"
    ></div>
    <div style="display: none">
      <input type="hidden" th:field="*{createAs}" />
      <input type="hidden" th:field="*{offsetFromUTC}" id="offset" />
    </div>
  </div>
  <button type="submit">Update</button>
</form>
<script>
  const offsetField = document.querySelector('#offset')
  offsetField.setAttribute('value', new Date().getTimezoneOffset())
</script>
