<h1>
  <span sec:authentication="principal.person.firstName"></span>
  <span sec:authentication="principal.person.lastName"></span>
</h1>
<form
  method="post"
  th:action="@{/pfp/interactor/{id}(id=${#authentication.principal.person.id})}"
  th:object="${pfp}"
  enctype="multipart/form-data"
>
  <p>
    <span>New profile picture</span>
    <input type="file" th:field="*{file}" accept="image/png, image/jpeg" />
    <input type="submit" value="Send" />
  </p>
</form>
<form th:action="@{/profile/edit}" method="post" th:object="${info}">
  <div
    th:replace="common/form :: field (label='First', name='firstName')"
  ></div>
  <div th:replace="common/form :: field (label='Last', name='lastName')"></div>
  <div
    th:include="common/form :: common (label='Gender', name='gender', input=~{:: .gender})"
  >
    <select th:field="*{gender}" class="gender">
      <option th:value="''">Select gender</option>
      <option th:value="'HE'">Male</option>
      <option th:value="'SHE'">Female</option>
      <option th:value="'THEY'">Other</option>
    </select>
  </div>
  <div th:replace="common/form :: bigfield (label='About', name='about')"></div>
  <div
    th:replace="common/form :: bigfield (label='Current status', name='status')"
  ></div>
  <button type="submit">Update</button>
</form>
