<h1>
  <span sec:authentication="principal.person.firstName"></span>
  <span sec:authentication="principal.person.lastName"></span>
</h1>
<form
  method="post"
  th:action="@{/pfp/interactor/{id}(id=${#authentication.principal.person.id})}"
  th:object="${pfp}"
  enctype="multipart/form-data"
>
  <p>
    <span>New profile picture</span>
    <input type="file" th:field="*{file}" accept="image/png, image/jpeg" />
    <input type="submit" value="Send" />
  </p>
</form>
<form th:action="@{/profile/edit}" method="post" th:object="${info}">
  <div>
    <label>First</label>
    <input th:field="*{firstName}" />
    <p
      th:if="${#fields.hasErrors('firstName')}"
      th:text="${#fields.errors('firstName')[0]}"
    >
      Validation error
    </p>
  </div>
  <div>
    <label>Last</label>
    <input th:field="*{lastName}" />
    <p
      th:if="${#fields.hasErrors('lastName')}"
      th:text="${#fields.errors('lastName')[0]}"
    >
      Validation error
    </p>
  </div>
  <div>
    <label>Gender</label>
    <select th:field="*{gender}">
      <option th:value="''">Select gender</option>
      <option th:value="'HE'">Male</option>
      <option th:value="'SHE'">Female</option>
      <option th:value="'THEY'">Other</option>
    </select>
    <p
      th:if="${#fields.hasErrors('gender')}"
      th:text="${#fields.errors('gender')[0]}"
    >
      Validation error
    </p>
  </div>
  <div>
    <label>About</label>
    <textarea th:field="*{about}"></textarea>
    <p
      th:if="${#fields.hasErrors('about')}"
      th:text="${#fields.errors('about')[0]}"
    >
      Validation error
    </p>
  </div>
  <div>
    <label>Current status</label>
    <textarea th:field="*{status}"></textarea>
    <p
      th:if="${#fields.hasErrors('status')}"
      th:text="${#fields.errors('status')[0]}"
    >
      Validation error
    </p>
  </div>
  <button type="submit">Update</button>
</form>
