<p>
  Watching profile of:
  <span th:text="${person.getFullName()}"></span>
</p>
<p th:remove="${accessLevel.name() == 'CLOSED'} ? all : none">
  <span th:if="${status}" th:text="${status.content}"></span>
  <span th:unless="${status}">Not set</span>
</p>
<ul th:remove="${accessLevel.name() == 'CLOSED'} ? all : none">
  <li th:each="friend : ${friends}" th:text="${friend.getFullName()}"></li>
</ul>
<span th:unless="${friendship == null}">
  <span
    th:if="${friendship.confirmedAt == null && friendship.ignoredAt == null}"
  >
    <span th:if="${friendship.receiverInteractor.id == person.id}">
      Pending
    </span>
    <span
      th:unless="${friendship.receiverInteractor.id == person.id}"
      th:include="common/confirmable :: decision (confirmable=${friendship})"
    >
    </span>
  </span>
  <span th:unless="${friendship.confirmedAt == null}">Confirmed</span>
  <!-- <span th:unless="${friendship.ignoredAt == null}">Ignored</span> -->
</span>
<ul th:remove="${accessLevel.name() == 'CLOSED'} ? all : none">
  <li th:each="group : ${groups}">
    <span th:text="${group.name}"></span>
    <form
      th:action="@{/confirmable/group/{groupId}/{personId}(groupId=${group.id},personId=${person.id})}"
      method="post"
    >
      <button type="submit">Invite</button>
    </form>
  </li>
</ul>

<form
  th:if="${(friendship == null && cInteraction.personId != 0) || friendship?.ignoredAt != null}"
  th:object="${cInteraction}"
  th:action="@{/confirmable}"
  method="post"
>
  <input type="text" th:field="*{personId}" style="display: none" />
  <button type="submit">Add as friend</button>
</form>

<form
  method="post"
  th:object="${newPost}"
  th:action="@{/profile/{personId}(personId=${person.id})}"
  th:remove="${accessLevel.name() != 'OPEN'} ? all : none"
  enctype="multipart/form-data"
>
  <h6>New post</h6>
  <div
    th:include="common/interaction :: create(canPagePost=false, additional=~{:: input[@type='file']})"
  >
    <input
      type="file"
      th:field="*{media}"
      accept="image/png, image/jpeg"
      multiple
    />
  </div>
  <button type="submit">Send</button>
</form>
<div
  th:each="post : ${posts}"
  th:remove="${accessLevel.name() == 'CLOSED'} ? all : none"
>
  <div th:replace="common/interaction :: card (interaction=${post})"></div>
</div>

<p th:remove="${accessLevel.name() != 'CLOSED'} ? all : none">
  Profile is locked
</p>
