<h3>
  <span th:text="${interaction.interactor.getFullName()}"> </span>
  <span th:if="${interaction.receiverInteractor}">
    ->
    <span th:text="${interaction.receiverInteractor.getFullName()}"></span>
  </span>
</h3>
<img th:if="${groupPfp}" th:src="${groupPfp}" />
<form
  th:unless="${groupPfp == null}"
  th:if="${joinRequest == null || joinRequest.ignoredAt != null}"
  th:action="@{/group/{id}/join(id=${interaction.id})}"
  method="post"
>
  <button type="submit">Join</button>
</form>
<div th:if="${joinRequest}" th:object="${joinRequest}">
  <span
    th:if="*{interactor.id} == ${#authentication.principal.person.id}"
    th:unless="*{confirmedAt} != null"
  >
    Pending
  </span>
  <div
    th:if="*{receiverInteractor.id} == ${#authentication.principal.person.id}"
  >
    <form
      th:action="@{/network/{interaction}(interaction=*{id})}"
      method="post"
    >
      <input type="text" name="isAccepted" value="true" style="display: none" />
      <input
        type="text"
        name="goToProfile"
        value="false"
        style="display: none"
      />
      <button type="submit">Accept</button>
    </form>
    <form
      th:action="@{/network/{interaction}(interaction=*{id})}"
      method="post"
    >
      <input
        type="text"
        name="isAccepted"
        value="false"
        style="display: none"
      />
      <input
        type="text"
        name="goToProfile"
        value="false"
        style="display: none"
      />
      <button type="submit">Ignore</button>
    </form>
  </div>
</div>
<div
  th:if="${interaction.interactor.id == #authentication.principal.person.id}"
>
  <form
    th:action="@{/interaction/{id}/delete(id=${interaction.id})}"
    method="post"
  >
    <button type="submit">Delete</button>
  </form>
</div>
<div>
  <p th:each="p : ${interaction.getParagraphs()}" th:text="${p}"></p>
</div>
<img
  th:each="medium : ${interaction.media}"
  th:src="@{/media/thumbnail/512/{id}(id=${medium.id})}"
/>
<p th:text="${@relativeTimeService.getRelativeTime(interaction.createdAt)}"></p>
<form
  th:action="@{/interaction/{id}/comment(id=${interaction.id})}"
  th:object="${newComment}"
  method="post"
  enctype="multipart/form-data"
>
  <span>New comment:</span><textarea th:field="*{content}"></textarea>
  <input type="file" th:field="*{file}" accept="image/png, image/jpeg" />
  <button type="submit">Send</button>
  <input type="text" th:field="*{url}" />
</form>
<h3>Comments</h3>
<div th:each="comment : ${comments}">
  <h4 th:text="${comment.interactor.getFullName()}"></h4>
  <p th:text="${comment.content}"></p>
  <img
    th:each="medium : ${comment.media}"
    th:src="@{/media/thumbnail/256/{id}(id=${medium.id})}"
  />
</div>
