<h3>
  <span th:object="${interaction.interactor}">
    <span th:text="*{firstName}"></span>
    <span th:text="*{lastName}"></span>
  </span>
  <span
    th:if="${interaction.receiverInteractor}"
    th:object="${interaction.receiverInteractor}"
  >
    ->
    <span th:text="*{firstName}"></span>
    <span th:text="*{lastName}"></span
  ></span>
</h3>
<div
  th:if="${interaction.interactor.id == #authentication.principal.person.id}"
>
  <form
    th:action="@{/interaction/{id}/delete(id=${interaction.id})}"
    method="post"
  >
    <button type="submit">Delete</button>
  </form>
</div>
<p
  th:if="${interaction.class.name.equals('io.github.jmmedina00.adoolting.entity.Post')}"
  th:text="${interaction.content}"
></p>
<img th:each="medium : ${interaction.media}" th:src="@{${medium.reference}}" />
<form
  th:action="@{/interaction/{id}/comment(id=${interaction.id})}"
  th:object="${newComment}"
  method="post"
  enctype="multipart/form-data"
>
  <span>New comment:</span><textarea th:field="*{content}"></textarea>
  <input type="file" th:field="*{file}" accept="image/png, image/jpeg" />
  <button type="submit">Send</button>
</form>
<h3>Comments</h3>
<div th:each="comment : ${comments}">
  <h4 th:object="${comment.interactor}">
    <span th:text="*{firstName}"></span>
    <span th:text="*{lastName}"></span>
  </h4>
  <p th:text="${comment.content}"></p>
  <img th:each="medium : ${comment.media}" th:src="@{${medium.reference}}" />
</div>
