<div
  th:each="notification : ${notifications}"
  th:object="${notification.interaction}"
  class="notification"
  th:classappend="${notification.readAt == null ? 'unread' : 'read'}"
>
  <a
    th:href="@{/network/passthrough/{notificationId}(notificationId=${notification.id})}"
  >
    <span th:text="*{id}"></span>
    -
    <span th:text="*{class.name}"></span>
    -
    <span th:text="*{interactor.getFullName()}"> </span>
    <span
      th:if="*{class.name.equals('io.github.jmmedina00.adoolting.entity.group.JoinRequest')}"
      >- Extended <span th:text="*{group.id}"></span>
    </span>
  </a>

  <form
    th:unless="${notification.isActionable()}"
    th:action="@{/network/delete/{notification}(notification=${notification.id})}"
    method="post"
  >
    <button type="submit">Delete</button>
  </form>

  <div th:if="${notification.isActionable()}">
    <form
      th:action="@{/network/{interaction}(interaction=*{id})}"
      method="post"
    >
      <input type="text" name="isAccepted" value="true" style="display: none" />
      <input
        type="text"
        name="goToProfile"
        value="false"
        style="display: none"
      />
      <button type="submit">Accept</button>
    </form>
    <form
      th:action="@{/network/{interaction}(interaction=*{id})}"
      method="post"
    >
      <input
        type="text"
        name="isAccepted"
        value="false"
        style="display: none"
      />
      <input
        type="text"
        name="goToProfile"
        value="false"
        style="display: none"
      />
      <button type="submit">Ignore</button>
    </form>
  </div>
</div>
