<div th:each="interaction : ${interactions}">
  <span th:text="${interaction.id}"></span>
  -
  <span th:text="${interaction.class.name}"></span>
  -
  <span
    th:text="${interaction.interactor.firstName + ' ' + interaction.interactor.lastName}"
  >
  </span>
  <span
    th:if="${interaction.class.name.equals('io.github.jmmedina00.adoolting.entity.group.JoinRequest')}"
    >- Extended <span th:text="${interaction.group.id}"></span>
  </span>

  <form
    th:action="@{/network/{interaction}(interaction=${interaction.id})}"
    method="post"
  >
    <input type="text" name="isAccepted" value="true" style="display: none" />
    <input type="text" name="goToProfile" value="false" style="display: none" />
    <button type="submit">Accept</button>
  </form>
  <form
    th:action="@{/network/{interaction}(interaction=${interaction.id})}"
    method="post"
  >
    <input type="text" name="isAccepted" value="false" style="display: none" />
    <input type="text" name="goToProfile" value="false" style="display: none" />
    <button type="submit">Ignore</button>
  </form>
</div>
