<h1>New group</h1>
<form
  th:object="${newGroup}"
  th:action="${param.event} ? @{/group/event} : @{/group}"
  th:method="post"
>
  <div>
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
    <p
      th:if="${#fields.hasErrors('name')}"
      th:text="${#fields.errors('name')[0]}"
    >
      Validation error
    </p>
  </div>
  <div>
    <label>Description:</label>
    <input type="text" th:field="*{description}" />
    <p
      th:if="${#fields.hasErrors('description')}"
      th:text="${#fields.errors('description')[0]}"
    >
      Validation error
    </p>
  </div>
  <div
    th:if="${newGroup.class.name == 'io.github.jmmedina00.adoolting.dto.NewEvent'}"
  >
    <!-- To be updated with proper map -->
    <label>Location:</label>
    <input type="text" th:field="*{location}" />
    <p
      th:if="${#fields.hasErrors('location')}"
      th:text="${#fields.errors('location')[0]}"
    >
      Validation error
    </p>
  </div>
  <div
    th:if="${newGroup.class.name == 'io.github.jmmedina00.adoolting.dto.NewEvent'}"
  >
    <label>Date:</label>
    <input type="date" th:field="*{date}" />
    <p
      th:if="${#fields.hasErrors('date')}"
      th:text="${#fields.errors('date')[0]}"
    >
      Validation error
    </p>
  </div>
  <div
    th:if="${newGroup.class.name == 'io.github.jmmedina00.adoolting.dto.NewEvent'}"
  >
    <label>Time:</label>
    <input type="time" th:field="*{time}" />
    <p
      th:if="${#fields.hasErrors('time')}"
      th:text="${#fields.errors('time')[0]}"
    >
      Validation error
    </p>
  </div>
  <button type="submit">Create</button>
</form>
