<p>
  Watching profile of:
  <span th:text="${person.firstName}"></span>
  <span th:text="${person.lastName}"></span>
</p>
<form
  method="post"
  th:object="${newPost}"
  th:action="@{/profile/{personId}(personId=${person.id})}"
>
  <div>
    <label>New post</label>
    <textarea th:field="*{contents}"></textarea>
  </div>
  <button type="submit">Send</button>
</form>
<div th:each="post : ${posts}">
  <h3>
    <span th:object="${post.interactor}">
      <span th:text="*{firstName}"></span>
      <span th:text="*{lastName}"></span>
    </span>

    <span
      th:if="${post.receiverInteractor}"
      th:object="${post.receiverInteractor}"
    >
      ->
      <span th:text="*{firstName}"></span>
      <span th:text="*{lastName}"></span>
    </span>
  </h3>
  <p
    th:if="${post instanceof T(io.github.jmmedina00.adoolting.entity.Post)}"
    th:text="${post.content}"
  ></p>
  <p><span th:text="${post.comments.size()}"></span> comments</p>
</div>
