<p>
  Watching profile of:
  <span th:text="${person.getFullName()}"></span>
</p>
<p>
  <span th:if="${status}" th:text="${status.content}"></span>
  <span th:unless="${status}">Not set</span>
</p>
<ul>
  <li th:each="friend : ${friends}" th:text="${friend.getFullName()}"></li>
</ul>
<span th:unless="${friendship == null}">
  <span
    th:if="${friendship.confirmedAt == null && friendship.ignoredAt == null}"
  >
    <span th:if="${friendship.receiverInteractor.id == person.id}">
      Pending
    </span>
    <span th:unless="${friendship.receiverInteractor.id == person.id}">
      <form
        th:action="@{/network/{friendship}(friendship=${friendship.id})}"
        method="post"
      >
        <input
          type="text"
          name="isAccepted"
          value="true"
          style="display: none"
        />
        <input
          type="text"
          name="goToProfile"
          value="true"
          style="display: none"
        />
        <button type="submit">Accept</button>
      </form>
      <form
        th:action="@{/network/{friendship}(friendship=${friendship.id})}"
        method="post"
      >
        <input
          type="text"
          name="isAccepted"
          value="false"
          style="display: none"
        />
        <input
          type="text"
          name="goToProfile"
          value="true"
          style="display: none"
        />
        <button type="submit">Ignore</button>
      </form>
    </span>
  </span>
  <span th:unless="${friendship.confirmedAt == null}">Confirmed</span>
  <!-- <span th:unless="${friendship.ignoredAt == null}">Ignored</span> -->
</span>
<ul>
  <li th:each="group : ${groups}">
    <span th:text="${group.name}"></span>
    <form
      th:action="@{/group/{groupId}/invite/{personId}(groupId=${group.id},personId=${person.id})}"
      method="post"
    >
      <button type="submit">Invite</button>
    </form>
  </li>
</ul>

<form
  th:if="${(friendship == null && cInteraction.personId != 0) || friendship?.ignoredAt != null}"
  th:object="${cInteraction}"
  th:action="@{/network}"
  method="post"
>
  <input type="text" th:field="*{personId}" style="display: none" />
  <button type="submit">Add as friend</button>
</form>

<form
  method="post"
  th:object="${newPost}"
  th:action="@{/profile/{personId}(personId=${person.id})}"
  enctype="multipart/form-data"
>
  <div>
    <label>New post</label>
    <textarea th:field="*{contents}"></textarea>
    <input
      type="file"
      th:field="*{media}"
      accept="image/png, image/jpeg"
      multiple
    />
    <input type="text" th:field="*{url}" />
  </div>
  <button type="submit">Send</button>
</form>
<div th:each="post : ${posts}">
  <h3>
    <span th:text="${post.interactor.getFullName()}"> </span>

    <span th:if="${post.receiverInteractor}">
      ->
      <span th:text="${post.receiverInteractor.getFullName()}"></span>
    </span>
  </h3>
  <p th:text="${post.getFirstParagraph()}"></p>
  <p th:if="${#arrays.length(post.getParagraphs()) > 1}">...</p>
  <div th:each="medium : ${post.media}">
    <img
      th:if="${medium.isInCDN()}"
      th:src="@{/media/thumbnail/256/{id}(id=${medium.id})}"
    />
    <a th:href="${medium.reference}" th:unless="${medium.isInCDN()}">Link</a>
  </div>

  <p th:text="${post.class.name}"></p>
  <p><span th:text="${post.comments.size()}"></span> comments</p>
</div>
