<!DOCTYPE html>
<form
  method="post"
  th:object="${newPassword}"
  th:action="@{/restore-password/}"
  enctype="utf8"
>
  <div>
    <label>Password</label>
    <input th:field="*{password}" type="password" />
    <p
      th:if="${#fields.hasErrors('password')}"
      th:text="${#fields.errors('password')[0]}"
    >
      Validation error
    </p>
  </div>
  <div>
    <label>Confirm password</label>
    <input th:field="*{confirmPassword}" type="password" />
    <p
      th:if="${#fields.hasErrors('confirmPassword')}"
      th:text="${#fields.errors('confirmPassword')[0]}"
    >
      Validation error
    </p>
  </div>
  <button type="submit">Submit</button>
</form>
