<h1 th:text="${page.name}"></h1>
<p th:text="${page.about}"></p>
<p th:if="${!#strings.isEmpty(page.url)}" th:text="${page.url}"></p>
<form
  th:action="@{/page/{pageId}/manage/{personId}/remove(pageId=${page.id},personId=${personId})}"
  method="post"
  th:object="${form}"
  th:if="${managing}"
>
  <button type="submit">Remove myself</button>
</form>
<div>
  <span>
    <span th:text="${likeCount}"></span>
    <span>likes</span>
  </span>
  <form th:action="@{/page/{pageId}/like(pageId=${page.id})}" method="post">
    <button
      type="submit"
      th:text="${givenLike == null ? 'Like' : 'Remove like'}"
    ></button>
  </form>
</div>
<form
  method="post"
  th:object="${newPost}"
  th:action="@{/page/{pageId}(pageId=${page.id})}"
  enctype="multipart/form-data"
>
  <h6>New post</h6>
  <div
    th:include="common/interaction :: create(canPagePost=true, additional=~{:: input[@type='file']})"
  >
    <input
      type="file"
      th:field="*{media}"
      accept="image/png, image/jpeg"
      multiple
    />
  </div>
  <button type="submit">Send</button>
</form>
<div th:each="post : ${posts}">
  <div th:replace="common/interaction :: card (interaction=${post})"></div>
</div>
