<ul>
  <li th:each="person : ${managers}">
    <span th:text="${person.firstName}"></span>
    <span th:text="${person.lastName}"></span>
  </li>
</ul>
<h3>Add as managers</h3>
<ul>
  <li
    th:each="friend : ${friends}"
    th:object="${#authentication.principal.person}"
  >
    <span
      th:unless="${friend.interactor.id} == *{id}"
      th:text="${friend.interactor.firstName + ' ' + friend.interactor.lastName}"
    >
    </span>
    <span
      th:unless="${friend.receiverInteractor.id} == *{id}"
      th:text="${friend.receiverInteractor.firstName + ' ' + friend.receiverInteractor.lastName}"
    >
    </span>
    <form
      th:action="@{/page/{pageId}/manage/{personId}(pageId=${page.id},personId=${friend.interactor.id} == *{id} ? ${friend.receiverInteractor.id} : ${friend.interactor.id})}"
      method="post"
    >
      <button type="submit">Add</button>
    </form>
  </li>
</ul>
