<form
  method="post"
  th:action="@{/pfp/interactor/{id}(id=${page.id})}"
  th:object="${pfp}"
  enctype="multipart/form-data"
>
  <p>
    <span>New profile picture</span>
    <input type="file" th:field="*{file}" accept="image/png, image/jpeg" />
    <input type="submit" value="Send" />
  </p>
</form>
<ul>
  <li th:each="person : ${managers}">
    <span th:text="${person.firstName}"></span>
    <span th:text="${person.lastName}"></span>
  </li>
</ul>
<h3>Add as managers</h3>
<ul>
  <li th:each="friend : ${friends}">
    <span th:text="${friend.getFullName()}"> </span>
    <form
      th:action="@{/page/{pageId}/manage/{personId}(pageId=${page.id},personId=${friend.id)}"
      method="post"
    >
      <button type="submit">Add</button>
    </form>
  </li>
</ul>
