<h1>
  <span sec:authentication="principal.person.firstName"></span>
  <span sec:authentication="principal.person.lastName"></span>
</h1>
<img
  th:src="@{/pfp/interactor/{id}(id=${#authentication.principal.person.id})}"
/>

<form th:action="@{/search}">
  <input type="text" name="terms" />
  <input type="submit" />
</form>

<ul>
  <li th:each="entry : ${commonfriends}">
    <span th:text="${entry.getKey().getFullName()}"></span>
    -
    <span th:text="${entry.getValue()}"></span>
  </li>
</ul>

<div th:each="post : ${interactions}">
  <div th:replace="common/interaction :: card (interaction=${post})"></div>
</div>
