<h1>Settings</h1>
<form th:object="${settings}" th:action="@{/settings}" method="post">
  <div
    th:replace="common/form :: field (label='allowStrangersIntoProfile', name='allowStrangersIntoProfile', type='checkbox')"
  ></div>
  <div
    th:replace="common/form :: field (label='allowPostsAndCommentsFromStrangers', name='allowPostsAndCommentsFromStrangers', type='checkbox')"
  ></div>
  <div
    th:replace="common/form :: field (label='allowInvitesFromStrangers', name='allowInvitesFromStrangers', type='checkbox')"
  ></div>
  <div
    th:replace="common/form :: field (label='acceptInvitesAutomatically', name='acceptInvitesAutomatically', type='checkbox')"
  ></div>
  <div
    th:replace="common/form :: field (label='emailOnConfirmables', name='emailOnConfirmables', type='checkbox')"
  ></div>
  <div
    th:replace="common/form :: notification (label='notifyIncomingEvents', name='notifyIncomingEvents')"
  ></div>
  <div
    th:replace="common/form :: notification (label='notifyComments', name='notifyComments')"
  ></div>
  <div
    th:replace="common/form :: notification (label='notifyPostsFromOthers', name='notifyPostsFromOthers')"
  ></div>
  <div
    th:replace="common/form :: notification (label='notifyActivityFromPages', name='notifyActivityFromPages')"
  ></div>
  <div
    th:replace="common/form :: notification (label='notifyPeoplesBirthdays', name='notifyPeoplesBirthdays')"
  ></div>
  <button type="submit">Save</button>
</form>
