<!DOCTYPE html>
<p th:if="${param.error}">Incorrect credentials</p>
<p th:if="${param.disabled}">Please enable your account before logging in.</p>
<p th:if="${param.expired}">Token has expired</p>
<p th:if="${param.success}">Thanks, your account is now active</p>
<p th:if="${param.restored}">Password has been restored</p>
<h1 th:text="#{greeting}">Hello</h1>
<form th:action="@{/login}" method="post">
  <span th:text="#{user}">User:</span>
  <input type="text" name="username" id="username" /><br />

  <span th:text="#{password}">Password:</span>
  <input type="password" name="password" id="password" /><br />
  <input type="hidden" name="offsetFromUTC" id="offset" />

  <input type="submit" />
</form>

<form th:action="@{/register}" th:object="${user}" method="post" enctype="utf8">
  <div
    th:replace="common/form :: field (label='First', name='firstName')"
  ></div>
  <div th:replace="common/form :: field (label='Last', name='lastName')"></div>
  <div th:replace="common/form :: field (label='Email', name='email')"></div>
  <div
    th:replace="common/form :: field (label='Confirm email', name='confirmEmail')"
  ></div>
  <div
    th:replace="common/form :: field (label='Password', name='password', isa='password')"
  ></div>
  <div
    th:replace="common/form :: field (label='Confirm password', name='confirmPassword', type='password')"
  ></div>
  <div
    th:replace="common/form :: field (label='Birthday', name='birthday', type='date')"
  ></div>
  <div
    th:include="common/form :: common (label='Gender', name='gender', input=~{:: .gender})"
  >
    <select th:field="*{gender}" class="gender">
      <option th:value="''">Select gender</option>
      <option th:value="'HE'">Male</option>
      <option th:value="'SHE'">Female</option>
      <option th:value="'THEY'">Other</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>
<script>
  const offsetField = document.querySelector('#offset')
  offsetField.setAttribute('value', new Date().getTimezoneOffset())
</script>
